
#cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  cursor: none;
  z-index: 2;
  background-color: teal;
  border: solid 2px teal;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

.crushContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header css */

.crushFlexContainer {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: white;
}

.crushHalfContainer {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#firstCrushBg {
  object-fit: cover;
  z-index: 2;
  opacity: 1 !important;
}

#secCrushBg {
  width: 70%;
  max-width: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.LinesForCrush {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100vh;
  /* background-color: rgb(60, 63, 64); */
  background-color: dodgerblue;
  color: whitesmoke;
  z-index: 10;
  pointer-events: none;
}

#firstCrushLinesContainer {
  left: 0;
  text-align: left;
}

#secCrushLinesContainer {
  right: 0;
  text-align: right;
}

#crushHeading {
  font-family: "Bebas Neue", cursive;
  font-size: 15vw;
  letter-spacing: 0.5rem;
}

blockquote {
  padding: 1em 0;
  width: 60%;
  line-height: 1.2em;
  z-index: 11;
}

.crushBio {
  color: #fff;
  position: absolute;
  bottom: 2%;
  width: 100%;
  mix-blend-mode: difference;
  letter-spacing: 0.1rem;
  font-weight: 300;
  font-size: 0.8em;
  z-index: 11;
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .crushFlexContainer {
    flex-direction: column;
    height: 100vh;
  }

  .crushHalfContainer {
    height: 50vh;
    width: 100vw;
  } 

  #secCrushBg {
    height: 80%;
    max-width: none;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }

  .LinesForCrush{
    position: absolute;
    height: 50vh;
    width: 100vw;
  }

  #secCrushLinesContainer {
    top:50%;
    bottom: 0;
    text-align: right;
  }
  
  .crushBio{
    z-index: 2;
  }
}

/* HOME CSS */

#crushHomePage {
  height: 100vh;
  width: 100vw; 
  overflow: hidden;
  transition: background ease-in-out 400ms;
}

.crushText {
  position: absolute;
  font-family: "Bebas Neue", cursive;
  top: 3%;
  left: 5%;
  font-size: 25vmin;
  letter-spacing: 0.2rem;
  opacity: 0.1 !important;
  mix-blend-mode: difference;
}

.crushBlendLine {
  position: absolute;
  font-family: "Bebas Neue", cursive;
  font-size: 5vmin;
  mix-blend-mode: exclusion;
  z-index: 5 !important;
  width: 40vw;
  text-transform: uppercase;
  color: whitesmoke;
  transform-origin: center;
  pointer-events: none;
}

.crushBlendLineLeft {
  top: 30%;
  left: 12%;
}

.crushBlendLineRight {
  bottom: 30%;
  right: 12%;
}

.crushImgContainer {
  display: flex;
  color: whitesmoke;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  height: 80vh;
  z-index: 5;
}

.imgBox {
  padding: 0 3%;
  z-index: 1;
}

.flex3 {
  flex-basis: 30%;
}

.flex4 {
  flex-basis: 40%;
}

.flexStart {
  align-self: flex-start;
}

.flexCenter {
  align-self: center;
}

.flexEnd {
  align-self: flex-end;
}

.crushFlexImg {
  position: relative;
  mix-blend-mode: difference;
  color: whitesmoke;
}

.crushImgs {
  width: 100%;
  isolation: isolate;
}

.crushHoverText {
  position: absolute;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.1rem;
  font-size: 3vmin;
  transform-origin: center;
  top: 10%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 1;
  width: 120%;
}

.crushHoverBgText {
  position: absolute;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.1rem;
  font-size: 7vmin;
  transform-origin: center;
  top: 50%;
  width: 100vw;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: difference;
  color: black !important;
  pointer-events: none;
}

.crushBGBlend {
  background-color: transparent;
  mix-blend-mode: difference;
  color: whitesmoke;
}

.crushCenter {
  left: 50%;
  transform: translate(-50%, 0%) !important;
}

.crushRight {
  right: 0;
  transform: translate(10%, 0%) !important;
}

.crushLeft {
  left: 0;
  transform: translate(-10%, 0%) !important;
}

@media only screen and (max-width: 600px) {
  .crushImgContainer {
    justify-content: space-evenly;
    width: 100vw;
    height: 60vh;
  }
  .flex3 {
    flex-basis: 100%;
  }

  .flex4 {
    flex-basis: 100%;
  }
  .imgBox {
    padding: 0 1%;
    z-index: 1;
  }
}

/* About her  */

#crushAboutHerContainer {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(30, 30, 32);
  justify-content: center;
  align-self: center;
}

#crushAboutPic {
  position: absolute;
  left: 7vw;
  width: 70%;
  border: solid 30px salmon;
  mix-blend-mode: luminosity;
}

#crushSecLine {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  text-align: end;
  color: whitesmoke;
  padding-right: 7vw;
}

#crushAboutHerHeading {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin-bottom: 7px;
  padding: 2%;
  color: salmon;
  background-color: whitesmoke;
}

#crushFewLinesAboutHer {
  color: whitesmoke;
  padding: 2%;
  width: 80%;
  line-height: 1.7rem;
}
@media only screen and (max-width: 600px) {
  #crushAboutHerContainer{
    flex-direction: column;
    height: auto;
  }
  #crushAboutPic {
    position: relative;
    max-height: 90%;
    border : solid 10px salmon;
    object-fit: cover;
  }
  #crushSecLine {
    height: 60%;
    padding-bottom: 12px;
  }
}
/* crush video section */

.crushVideoSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.crushVideoContianer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vmin;
  height: 60vmin;
  overflow: hidden;
  padding: 0 10px 10px
}

#crushVideoThumbnail {
  width: 100%;
  object-fit: cover;
  transform-origin: center;
}

#crushFewLinesAboutVideo {
  width: 100vmin;
  margin-top: 2%;
}

/* Crush Footer  */

.crushFollowflexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crushFollowText {
  margin-top: 5px;
  padding: 3px 0;
  color: #000;
  letter-spacing: 0;
  font-size: 0.8rem;
  width: 80%;
}

#crushFollowButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: #000;
  border: none;
  color: white;
  padding: 6px 10px;
  margin-top: 5px;
  cursor: none;
}

#barkhaInstaId {
  padding-left: 10px;
}

.crushFootBg {
  position: absolute;
  width: 15%;
  height: 10vh;
  opacity: 0.5 !important;
  z-index: 5;
}

.crushFootRight {
  right: 0;
  top: 27vh;
  background-color: yellow;
}

.crushFootLeft {
  left: 0;
  bottom: 27vh;
  background-color: orangered;
}
