body {
  /* background: #76b852; */
  background-color: #edeae0;
  /* background: #363639; */
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: #363639;
  font-size: 4rem;
  font-weight: 500;
}

.form-container {
  min-width: 360px;
  background-color: whitesmoke;
  margin: auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 2px 1px 0 rgba(0, 0, 0, 0.14);
  padding: 30px 10px 20px;
  border-radius: 3px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
  border-radius: 2px;
}

.button-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 10px 0 0 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #b22234;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
}

input:target {
  background-color: rebeccapurple;
}

.error {
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #ffa4a4;
}

button {
  padding: 15px;
  width: 48%;
  font-size: 1.1rem;
  /* background: #4caf50; */
  background-color: #292929;
  color: whitesmoke;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
}

button:disabled {
  cursor: default;
}
