@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*,
*:focus {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  color: #3c4246;
  margin: 0;
  font-family:  "Roboto", BlinkMacSystemFont, "Segoe UI","Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans JP', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  cursor: none;
  position: relative;
  text-align: center;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(
    circle,
    #fdfbfb,
    #f9f7f8,
    #F3F3F5,
    #f0f0f2,
    #ebedee
  );
}

.displayNone{
  display: none;
}

